@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    @apply ;
  } */
}

@layer components {
  .loading-point {
    @apply animate-bounce;
  }
  .delay-0 {
    animation-delay: 0ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-400 {
    animation-delay: 400ms;
  }
}

@layer utilities {
  .home-item {
    @apply flex w-[90vw] h-[50vh] gap-6 bg-white rounded-2xl pr-2 ;
  }
  .home-item p {
    @apply pt-2;
  }
  .header-item {
    @apply z-50;
  }
}